@model WebAPI2.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Winner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Winner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameMode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
